* {
	/*engine: none|initial*/
  color: inherit;
  font-size: inherit;
  background-color: initial;
  font-family: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  text-shadow: inherit;
  -gtk-icon-shadow: inherit;
  box-shadow: initial;
  margin-top: initial;
  margin-left: initial;
  margin-bottom: initial;
  margin-right: initial;
  padding-top: initial;
  padding-left: initial;
  padding-bottom: initial;
  padding-right: initial;
  border-top-style: initial;
  border-top-width: initial;
  border-left-style: initial;
  border-left-width: initial;
  border-bottom-style: initial;
  border-bottom-width: initial;
  border-right-style: initial;
  border-right-width: initial;
  border-top-left-radius: initial;
  border-top-right-radius: initial;
  border-bottom-right-radius: initial;
  border-bottom-left-radius: initial;
  outline-style: initial;
  outline-width: initial;
  outline-offset: initial;
  background-clip: initial;
  background-origin: initial;
  background-size: initial;
  background-position: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  outline-color:  initial;
  background-repeat: initial;
  background-image: initial;
  border-image-source: initial;
  border-image-repeat: initial;
  border-image-slice: initial;
  border-image-width: initial;
  transition-property: initial;
  transition-duration: initial;
  transition-timing-function: initial;
  transition-delay: initial;
  -gtk-key-bindings: initial;
	font-size:14px;
	/*
	-GtkWidget-focus-line-width: 0;
	-GtkWidget-focus-padding: 0;
	-GtkNotebook-initial-gap: 0;
	*/
}
/* *:insensitive{color:#ececec;text-shadow: 1px 1px 0 #fcfcfc;} */
.bg-white{background:#fff;}
.p-5{padding:5px;}
window, dialog, container, overlay
{
	background-color: #fff;
	border:1px solid #ececec;
	transition:1s easy-in;
}
/** gtk entry **/
entry, textview, .view{caret-color:#000;/*min-height:19px;*/background-color:#fff;border-radius:6px;border:2px solid #BFBFBF;color:#000;padding:10px;}
entry:selected, entry selection,
textview:selected, textview selection
{background-color:#B5B5B5;}
entry:focus,
textview:focus
{border:2px solid #0d6efd;box-shadow:inset 0px 5px 5px alpha(#0088CC, 0.1);}


#main-window{background-color:#fff;}
#left-sidebar, #top-bar{background-color: shade(#3C3C3C, 1.02);padding:10px;}
#left-sidebar .text-button, #left-sidebar .image-button, #left-sidebar .button{background-color:#3C3C3C;padding:8px;border-radius:5px;}
#left-sidebar .text-button:hover, #left-sidebar .image-button:hover, #left-sidebar .button:hover{background-color:#000000;}
#left-sidebar Button Label{color:red;}
#top-bar label{color:white;}
#elapsed-time, #timerlogs-timer label{font-size:25px;}
#wrap-content{background:#ececec;}
#button-start{color:#fff;background-color:#39AE39;border-radius:50px;padding:15px;margin:20px 20px 0 0;box-shadow: 0px 4px 4px #B3B3B3;}
#button-pause{color:#fff;background-color:#FF3D3D;border-radius:50px;padding:15px;margin:20px 20px 0 0;box-shadow: 0px 4px 4px #B3B3B3;}

tooltip.background, .tooltip.background{background-color:#000000;border-radius:4px;background-clip:padding-box;}
tooltip.background label{font-size:15px;color:#fff;}


label{padding:4px;color:#000;}
.label-title{font-size:15px;font-weight:bold;}

.white-widget label.black{color:#000;}
/*
.white-widget entry{background-color:#fff;}
.white-widget entry{}
.white-widget entry:selected, GtkTextView:selected{background-color:#B5B5B5;}
.white-widget entry:focus, GtkTextView:focus{}
*/

#widget-login{margin:10px;}
#login-title{font-size:40px;}
#login-subtitle{font-size:30px;}

.btn{padding:6px 4px;border-radius:4px;font-size:14px;font-weight:normal;}
.btn-primary{background-color:#0d6efd;color:#fff;}
.btn-primary label{color:#fff;}
.btn-danger{background-color:#dc3545;color:#fff;}
.btn-danger label{color:#fff;}
.btn-success{background-color:#198754;}
.btn-success label{color:#fff;}

stacksidebar{}
row{border-radius:4px;padding:4px;}
row.activatable:hover, 
row.activatable:focus, 
row.activatable:selected{background-color:#ccc;}

.listbox-row-item{margin:0 0 8px 0;}
.listbox-row-item > box{background-color:#fff;border:1px solid #ececec;padding:5px;}

spinner{color:#000;}
popover{padding:10px;background-color:#fff;}

.alert{padding:10px;}
.alert-danger{background:#dc3545;color:#fff;}
.alert-danger label{color:#fff;}
/*
label.alert{padding:10px;}
label.alert-danger{color:#dc3545;}
*/
separator{background:#9E9E9E;}
.items-list-container{border:1px solid #9E9E9E;margin:10px;padding:5px;}
.items-list-container row{padding:10px;background:#fff;border:1px solid #ececec;}
.items-list-container row.activatable:hover, 
.items-list-container row.activatable:focus, 
.items-list-container row.activatable:selected{background-color:#ccc;border:1px solid #ececec;}
.items-list-container row.activatable:selected{border-left:3px solid #1A9F1A;/*border-radius: 0px 4px 4px 0px;*/}

stackswitcher{}
stackswitcher.needs-attention{background:blue;}
stackswitcher button{background: #fff;border:1px solid #ececec;border-radius:5px;padding:4px;}
stackswitcher button:active{background:#ececec;}/** clicked **/
stackswitcher button:checked{background-color:#39AE39;}
stackswitcher button:checked label{color:#fff;}
.box-user-profile{padding:10px;}
